*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.fundo h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: #131d37;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding: 10px;
    margin-top: 50px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: #727282;
    border: none;
    border-radius: 15px;
    color: white;
}

.botao:hover{
    background-color: #131d37;
}

.botao1{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: #454753;
    border: none;
    border-radius: 10px;
    color: white;
}

.botao1:hover{
    background-color: #131d37;
}

.botao2{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: #0087ff;
    border: none;
    border-radius: 10px;
    color: white;
}

.botao2:hover{
    background-color: #131d37;
}

#resultado{
    width: 232px;
    background-color: white;
    height: 40px;
    margin: 3px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    overflow: hidden;
}
